/* =============================================================================
	Colors
============================================================================= */

@pp-blue: #0083C7;				/* PurePenny Blue */
@pp-yellow: #FFD32D;			/* PurePenny Yellow */
@pp-white: #FFFFFF;				/* PurePenny White */

@pp-orange: #f58220;			/* Deposit Money Orange */
@pp-green-a: #8cc63f;			/* Withdraw Cash Green */

@pp-green-b: #98cc53;			/* Bid Card Green */
@pp-blue-alt: #148dcb;			/* Bid Button Alternate Blue */
@pp-yellow-alt: #ffd539;		/* Me Button Alternate Yellow */

@pp-gray: #6d6e70;				/* Game Category Gray */
@pp-gray-alt: #78797b;			/* Game Category Alternate Gray */

@pp-dark-green: #004c2e;		/* Big Deals Green */
@pp-dark-green-alt: #145a3e;	/* Big Deals Alternate Green */

